{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <!--Body Container-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="breadcrumbs-wrapper text-uppercase">
                    <div class="container">
                        <div class="breadcrumbs"><a href="{% url 'store:index_page' %}">Главная</a><span>|</span><span class="fw-bold">Категории</span></div>
                    </div>
                </div>
        <!--End Collection Banner-->


        <div class="container">
            <!--Category Masonary Grid-->
            <div class="grid-categorys grid-mr-20">
                    <div class="grid-masonary category-page-grid style1">
                            <div class="grid-sizer col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row mx-0">
                        {% for category in object_list %}
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 category-grid-item cl-item">
                            <div class="category-item position-relative overflow-hidden zoomscal-hov">
                                <a href="{% url 'store:categories' category.id %}" class="category-link">
                                    <div class="zoom-scal"><img class="blur-up lazyload"
                                                          data-src="{{ category.image.url }}"
                                                          src="{{ category.image.url }}" alt="collection"
                                                          title=""/></div>
                                    <div class="details">
                                        <div class="inner">
                                            <h3 class="category-title">{{ category.name }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
</div></div>
                    </div>
                </div>
            <!--End Category Masonary Grid-->
        </div>
    </div>
        <!--End Category Grid-->

{% endblock %}