{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <!--Page Wrapper-->
    <div id="page-content">
        <!--Home slider-->
        <section class="slideshow slideshow-wrapper">
            <div class="home-slideshow">
                <div class="slide slide-video slide-media">
                    <video class="slideshow--large" loop="" muted="" preload="metadata" autoplay>
                        <source src="{% static 'video/index_video.mp4' %}" type="video/mp4">
                    </video>
                    <div class="container">
                        <div class="slideshow-content slideshow-overlay middle d-flex justify-content-center align-items-center">
                            <div class="slideshow-content-in text-center">
                                <div class="wrap-caption animation style1 whiteText p-0">
                                    <h2 class="mega-title ss-mega-title text-transform-none">Можно<br>видео или картинку
                                    </h2>
                                    <span class="mega-subtitle ss-sub-title small--hide">Неграв надо заменить конечно</span>
                                    <div class="ss-btnWrap">
                                        <a class="btn btn-outline-primary btn-sm rounded-0" href="">White</a>
                                        <a class="btn btn-outline-primary btn-sm rounded-0 ms-2 ms-md-3"

                                           href="">Black</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide1">
                    <div class="slideshow--large bg-size">
                        <img class="bg-img blur-up lazyload" data-src="{% static 'images/main_img.jpg' %}"
                             src="{% static 'images/main_img.jpg' %}" alt="slideshow" title=""/>
                        <div class="container">
                            <div class="slideshow-content slideshow-overlay middle d-flex justify-content-center align-items-center">
                                <div class="slideshow-content-in text-center">
                                    <div class="wrap-caption animation style1 p-0">
                                        <p class="ss-small-title mb-1">Вариант с картинкой</p>
                                        <h2 class="mega-title ss-mega-title text-transform-none">Текст</h2>
                                        <span class="mega-subtitle ss-sub-title small--hide">Текст <br>Еще текст</span>
                                        <div class="ss-btnWrap">
                                            <a class="btn btn-outline-primary btn-sm rounded-0" href="">КУПИТЬ!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Home slider-->

        <!--Collection Banners-->
        <section class="section collection-banners style7 mt-0">
            <div class="container">
                <div class="section-header">
                    <h2 class="text-transform-none">Категории</h2>
                    <p>Текст</p>
                </div>

                <div class="grid-masonary banner-grid grid-mr-10">
                    <div class="grid-sizer col-12 col-sm-6 col-md-6 col-lg-6 mw-100"></div>
                    <div class="row mx-0">
                        {% for category in object_list %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mw-100 cl-item banner-item">
                            <div class="collection-grid-item">
                                <a href="{% url 'store:categories' category.id %}">
                                    <div class="img"><img class="blur-up lazyload"
                                                          data-src="{{ category.image.url }}"
                                                          src="{{ category.image.url }}" alt="collection"
                                                          title=""/></div>
                                    <div class="details bottom bg-transparent">
                                        <div class="inner bg-transparent p-0">
                                            <span class="btn m-0">{{ category.name }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!--End Collection Banners-->

        <!--Banner Masonary-->
    <div class="section-header">
                    <h2 class="text-transform-none">Коллекции</h2>
                    <p>Текст</p>
                </div>
                <section class="section collection-banners style8 mt-0 pt-0 foot">
                    <div class="container">
                        <div class="grid-masonary banner-grid grid-mr-10">
                            <div class="grid-sizer col-12 col-sm-12 col-md-6 col-lg-6 mw-100"></div>
                            <div class="row mx-0">
                                {% for collection in collections %}
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mw-100 cl-item banner-item">
                                    <div class="collection-grid-item banner1">
                                        <a href="{% url 'store:collections' collection.id%}">
                                            <div class="img"><img class="blur-up lazyload" data-src={{ collection.image.url }} src={{ collection.image.url }} alt="collection" title="" /></div>
                                            <div class="details top-left w-50">
                                                <div class="inner">
                                                    <h3 class="title lh-1" style="color:black; text-shadow: #FFFFFF 1px 0 5px;">{{ collection.name }}</h3>
                                                    <span class="btn--link" style="color:black; text-shadow: #FFFFFF 1px 0 5px;" >{{ collection.description }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Banner Masonary-->


        <!--Instagram Section-->

        <!--End Instagram Section-->
    </div>
    <!--End Body Container-->
{% endblock %}
