{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <!--Page Wrapper-->
    <div id="page-content">
        <!--Home slider-->
        <section class="slideshow slideshow-wrapper">
            <div class="home-slideshow">
                <div class="slide slide-video slide-media">
                    <video class="slideshow--large" loop="" muted="" preload="metadata" autoplay>
                        <source src="{% static 'video/index_video.mp4' %}" type="video/mp4">
                    </video>
                    <div class="container">
                        <div class="slideshow-content slideshow-overlay middle d-flex justify-content-center align-items-center">
                            <div class="slideshow-content-in text-center">
                                <div class="wrap-caption animation style1 whiteText p-0">
                                    <h2 class="mega-title ss-mega-title text-transform-none">Можно<br>видео или картинку
                                    </h2>
                                    <span class="mega-subtitle ss-sub-title small--hide">Неграв надо заменить конечно</span>
                                    <div class="ss-btnWrap">
                                        <a class="btn btn-outline-primary btn-sm rounded-0" href="">Мужское</a>
                                        <a class="btn btn-outline-primary btn-sm rounded-0 ms-2 ms-md-3"
                                           href="">Женское</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide1">
                    <div class="slideshow--large bg-size">
                        <img class="bg-img blur-up lazyload" data-src="{% static 'images/main_img.jpg' %}"
                             src="{% static 'images/main_img.jpg' %}" alt="slideshow" title=""/>
                        <div class="container">
                            <div class="slideshow-content slideshow-overlay middle d-flex justify-content-center align-items-center">
                                <div class="slideshow-content-in text-center">
                                    <div class="wrap-caption animation style1 p-0">
                                        <p class="ss-small-title mb-1">Вариант с картинкой</p>
                                        <h2 class="mega-title ss-mega-title text-transform-none">Текст</h2>
                                        <span class="mega-subtitle ss-sub-title small--hide">Текст <br>Еще текст</span>
                                        <div class="ss-btnWrap">
                                            <a class="btn btn-outline-primary btn-sm rounded-0" href="">КУПИТЬ!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Home slider-->

        <!--Collection Banners-->
        <section class="section collection-banners style7 mt-0">
            <div class="container">
                <div class="section-header">
                    <h2 class="text-transform-none">Посмотри заебатые шмотки</h2>
                    <p>Тут типа категории можно сделать</p>
                </div>

                <div class="grid-masonary banner-grid grid-mr-10">
                    <div class="grid-sizer col-12 col-sm-6 col-md-6 col-lg-6 mw-100"></div>
                    <div class="row mx-0">
                        {% for category in object_list %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mw-100 cl-item banner-item">
                            <div class="collection-grid-item">
                                <a href="{% url 'store:categories' category.id %}">
                                    <div class="img"><img class="blur-up lazyload"
                                                          data-src="{{ category.image.url }}"
                                                          src="{{ category.image.url }}" alt="collection"
                                                          title=""/></div>
                                    <div class="details bottom bg-transparent">
                                        <div class="inner bg-transparent p-0">
                                            <span class="btn m-0">{{ category.name }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mw-100 cl-item banner-item">
                            <div class="collection-grid-item">
                                <a href="">
                                    <video class="collection-video" loop="" muted="" preload="metadata" autoplay>
                                        <source src="https://template.annimexweb.com/optimal/assets/video/fashion-new-arrivals.mp4"
                                                type="video/mp4">
                                    </video>
                                    <div class="details bottom bg-transparent">
                                        <div class="inner bg-transparent p-0">
                                            <span class="btn m-0">А можно и видосик</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Collection Banners-->

        <!--New Arrivals Product-->
        <section class="section product-slider pt-0">
            <div class="container">
                <div class="row">
                    <div class="section-header">
                        <h2 class="text-transform-none">Новые товары</h2>
                        <p>Какой-то текст</p>
                    </div>
                </div>

                <div class="grid-products">
                    <div class="row">
                        <div class="item col-lg-3 col-md-4 col-6">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="" class="product-img">
                                    <!--Image-->
                                    <img class="primary blur-up lazyload"
                                         data-src="{% static 'images/products/product-7-1.jpg' %}"
                                         src="{% static 'images/products/product-7-1.jpg' %}" alt="image" title="">
                                    <!--End image-->
                                    <a href=""{% static 'images/pro' %}"" class="product-img">
                                    <!--Hover image-->
                                    <img class="hover blur-up lazyload"
                                         data-src="{% static 'images/products/product-7.jpg' %}"
                                         src="{% static 'images/products/product-7.jpg' %}" alt="image" title="">
                                    <!--End hover image-->
                                </a>
                                <!--end product image-->


                                <!--Product Button-->
                                <div class="button-set style2 d-none d-md-block">
                                    <ul>
                                        <!--Cart Button-->
                                        <li><a class="btn-icon btn cartIcon pro-addtocart-popup rounded-pill"
                                               href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span
                                                class="tooltip-label top">Add to Cart</span></a></li>
                                        <!--End Cart Button-->
                                        <!--Quick View Button-->
                                        <li><a class="btn-icon quick-view-popup quick-view rounded-pill"
                                               href="javascript:void(0)" data-toggle="modal"
                                               data-target="#content_quickview"><i class="icon an an-search-l"></i>
                                            <span class="tooltip-label top">Quick View</span></a></li>
                                        <!--End Quick View Button-->
                                        <!--Wishlist Button-->
                                        <li><a class="btn-icon wishlist add-to-wishlist rounded-pill"
                                               href="https://template.annimexweb.com/optimal/my-wishlist.html"><i
                                                class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                                        </li>
                                        <!--End Wishlist Button-->
                                        <!--Compare Button-->
                                        <li><a class="btn-icon compare add-to-compare rounded-pill"
                                               href="https://template.annimexweb.com/optimal/compare-style2.html"><i
                                                class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                                        </li>
                                        <!--End Compare Button-->
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details text-start">
                                <!--Product Name-->
                                <div class="product-name text-uppercase">
                                    <a href="https://template.annimexweb.com/optimal/product-layout1.html">Футболка</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">19 980 РУБ.</span>
                                </div>
                                <!--End Product Price-->
                                <!--Color Variant -->
                                <ul class="swatches">
                                    <li class="swatch small rounded navy"><span class="tooltip-label">Navy</span></li>
                                    <li class="swatch small rounded green"><span class="tooltip-label">Green</span></li>
                                    <li class="swatch small rounded gray"><span class="tooltip-label">Gray</span></li>
                                    <li class="swatch small rounded aqua"><span class="tooltip-label">Aqua</span></li>
                                    <li class="swatch small rounded orange"><span class="tooltip-label">Orange</span>
                                    </li>
                                </ul>
                                <!--End Variant-->
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="item col-lg-3 col-md-4 col-6">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="https://template.annimexweb.com/optimal/product-layout1.html"
                                   class="product-img">
                                    <!--Image-->
                                    <img class="primary blur-up lazyload"
                                         data-src="{% static 'images/products/product-21.jpg' %}"
                                         src="{% static 'images/products/product-21.jpg' %}" alt="image" title="">
                                    <!--End image-->
                                    <!--Hover image-->
                                    <img class="hover blur-up lazyload"
                                         data-src="{% static 'images/products/product-21-1.jpg' %}"
                                         src="{% static 'images/products/product-21-1.jpg' %}" alt="image" title="">
                                    <!--End hover image-->
                                </a>
                                <!--End Product Image-->

                                <!--Product Button-->
                                <div class="button-set style2 d-none d-md-block">
                                    <ul>
                                        <!--Cart Button-->
                                        <li><a class="btn-icon btn cartIcon pro-addtocart-popup rounded-pill"
                                               href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span
                                                class="tooltip-label top">Add to Cart</span></a></li>
                                        <!--End Cart Button-->
                                        <!--Quick View Button-->
                                        <li><a class="btn-icon quick-view-popup quick-view rounded-pill"
                                               href="javascript:void(0)" data-toggle="modal"
                                               data-target="#content_quickview"><i class="icon an an-search-l"></i>
                                            <span class="tooltip-label top">Quick View</span></a></li>
                                        <!--End Quick View Button-->
                                        <!--Wishlist Button-->
                                        <li><a class="btn-icon wishlist add-to-wishlist rounded-pill"
                                               href="https://template.annimexweb.com/optimal/my-wishlist.html"><i
                                                class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                                        </li>
                                        <!--End Wishlist Button-->
                                        <!--Compare Button-->
                                        <li><a class="btn-icon compare add-to-compare rounded-pill"
                                               href="https://template.annimexweb.com/optimal/compare-style2.html"><i
                                                class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                                        </li>
                                        <!--End Compare Button-->
                                    </ul>
                                </div>
                                <!--End Product Button-->

                                <!-- Product Quickshop Form -->
                                <div class="quickshop-content d-flex-center" data-bs-scroll="true"
                                     data-bs-backdrop="false" tabindex="-1" id="pro-quickshop2">
                                    <button type="button"
                                            class="btn-close text-reset ms-auto position-absolute top-0 end-0 m-1"
                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    <div class="offcanvas-body quickshop-variant h-100 d-flex align-items-start align-items-sm-center">
                                        <form method="post" action="#" id="product_form_1053"
                                              class="product-form align-items-center text-center hidedropdown"
                                              accept-charset="UTF-8" enctype="multipart/form-data">
                                            <!-- Product Price -->
                                            <div class="product-single__price lh-1 mb-3 mt-0 mx-auto">
                                                <span class="visually-hidden">Regular price</span>
                                                <span class="product-price__sale--single">
                                                            <span class="product-price-old-price d-none">1 980 РУБ.</span><span
                                                        class="product-price__price product-price__sale0">1 980 РУБ.</span>
                                                        </span>
                                            </div>
                                            <!-- End Product Price -->
                                            <!-- Swatches Color -->
                                            <div class="swatches-image swatch clearfix mb-3 swatch-0 option1"
                                                 data-option-index="0">
                                                <div class="product-form__item">
                                                    <label class="label d-flex justify-content-center">Color:<span
                                                            class="required d-none">*</span><span
                                                            class="slVariant ms-1 fw-bold">Yellow</span></label>
                                                    <ul class="swatches d-flex-justify-center list-unstyled m-0 clearfix">
                                                        <li data-value="Black"
                                                            class="swatch-element rounded-0 color black available active">
                                                            <label class="swatchLbl rounded-0 color small black"
                                                                   title="Black"></label>
                                                            <span class="tooltip-label top">Black</span>
                                                        </li>
                                                        <li data-value="Peach"
                                                            class="swatch-element rounded-0 color pink available">
                                                            <label class="swatchLbl rounded-0 color small pink"
                                                                   title="Pink"></label>
                                                            <span class="tooltip-label top">Pink</span>
                                                        </li>
                                                        <li data-value="White"
                                                            class="swatch-element rounded-0 color gray available">
                                                            <label class="swatchLbl rounded-0 color small gray"
                                                                   title="gray"></label>
                                                            <span class="tooltip-label top">Gray</span>
                                                        </li>
                                                        <li data-value="Yellow"
                                                            class="swatch-element rounded-0 color yellow soldout">
                                                            <label class="swatchLbl rounded-0 color small yellow"
                                                                   title="Yellow"></label>
                                                            <span class="tooltip-label top">Yellow</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Swatches Color -->
                                            <!-- Swatches Size -->
                                            <div class="swatch clearfix mb-3 swatch-1 option2" data-option-index="1">
                                                <div class="product-form__item">
                                                    <label class="label d-flex justify-content-center">Size:<span
                                                            class="required d-none">*</span><span
                                                            class="slVariant ms-1 fw-bold">S</span></label>
                                                    <ul class="swatches-size d-flex-justify-center list-unstyled m-0 clearfix">
                                                        <li data-value="S" class="swatch-element s available active">
                                                            <label class="swatchLbl rounded-0 medium"
                                                                   title="S">S</label><span
                                                                class="tooltip-label">S</span>
                                                        </li>
                                                        <li data-value="M" class="swatch-element m available">
                                                            <label class="swatchLbl rounded-0 medium"
                                                                   title="M">M</label><span
                                                                class="tooltip-label">M</span>
                                                        </li>
                                                        <li data-value="L" class="swatch-element l available">
                                                            <label class="swatchLbl rounded-0 medium"
                                                                   title="L">L</label><span
                                                                class="tooltip-label">L</span>
                                                        </li>
                                                        <li data-value="XL" class="swatch-element xl available">
                                                            <label class="swatchLbl rounded-0 medium"
                                                                   title="XL">XL</label><span
                                                                class="tooltip-label">XL</span>
                                                        </li>
                                                        <li data-value="XS" class="swatch-element xs soldout">
                                                            <label class="swatchLbl rounded-0 medium"
                                                                   title="XS">XS</label><span
                                                                class="tooltip-label">XS</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Swatches Size -->
                                            <!-- Product Action -->
                                            <div class="product-form-submit mx-auto">
                                                <button type="submit" name="add"
                                                        class="btn rounded product-form__cart-submit btn-small px-3">
                                                    <span>Add to cart</span></button>
                                                <button type="submit" name="add"
                                                        class="btn rounded product-form__sold-out btn-small px-3 d-none"
                                                        disabled="disabled">Sold out
                                                </button>
                                                <button type="button" name="buy"
                                                        class="btn rounded btn-outline-primary proceed-to-checkout btn-small px-3 d-none">
                                                    Buy it now
                                                </button>
                                            </div>
                                            <!-- End Product Action -->
                                        </form>
                                    </div>
                                </div>
                                <!-- End Product Quickshop Form -->
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details text-start">
                                <!--Product Name-->
                                <div class="product-name text-uppercase">
                                    <a href="https://template.annimexweb.com/optimal/product-layout1.html">Штаны</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">1 980 РУБ.</span>
                                </div>
                                <!--End Product Price-->

                                <!--Color Variant-->
                                <ul class="swatches">
                                    <li class="swatch small rounded black"><span class="tooltip-label">Black</span></li>
                                    <li class="swatch small rounded navy"><span class="tooltip-label">Navy</span></li>
                                    <li class="swatch small rounded purple"><span class="tooltip-label">Purple</span>
                                    </li>
                                </ul>
                                <!--End Variant-->
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="item col-lg-3 col-md-4 col-6">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="https://template.annimexweb.com/optimal/product-layout1.html"
                                   class="product-img">
                                    <!--Image-->
                                    <img class="primary blur-up lazyload"
                                         data-src="{% static 'images/products/product-6-1.jpg' %}"
                                         src="{% static 'images/products/product-6-1.jpg' %}" alt="image" title="">
                                    <!--End image-->
                                    <!--Hover image-->
                                    <img class="hover blur-up lazyload"
                                         data-src="{% static 'images/products/product-6-2.jpg' %}"
                                         src="{% static 'images/products/product-6-2.jpg' %}" alt="image" title="">
                                    <!--End hover image-->
                                </a>
                                <!--End Product Image-->

                                <!--Product Button-->
                                <div class="button-set style2 d-none d-md-block">
                                    <ul>
                                        <!--Cart Button-->
                                        <li><a class="btn-icon btn cartIcon pro-addtocart-popup rounded-pill"
                                               href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span
                                                class="tooltip-label top">Add to Cart</span></a></li>
                                        <!--End Cart Button-->
                                        <!--Quick View Button-->
                                        <li><a class="btn-icon quick-view-popup quick-view rounded-pill"
                                               href="javascript:void(0)" data-toggle="modal"
                                               data-target="#content_quickview"><i class="icon an an-search-l"></i>
                                            <span class="tooltip-label top">Quick View</span></a></li>
                                        <!--End Quick View Button-->
                                        <!--Wishlist Button-->
                                        <li><a class="btn-icon wishlist add-to-wishlist rounded-pill"
                                               href="https://template.annimexweb.com/optimal/my-wishlist.html"><i
                                                class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                                        </li>
                                        <!--End Wishlist Button-->
                                        <!--Compare Button-->
                                        <li><a class="btn-icon compare add-to-compare rounded-pill"
                                               href="https://template.annimexweb.com/optimal/compare-style2.html"><i
                                                class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                                        </li>
                                        <!--End Compare Button-->
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details text-start">
                                <!--Product Name-->
                                <div class="product-name text-uppercase">
                                    <a href="https://template.annimexweb.com/optimal/product-layout1.html">Майка</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">10 980 РУБ.</span>
                                </div>
                                <!--End Product Price-->
                                <!--Color Variant-->
                                <ul class="swatches">
                                    <li class="swatch small rounded red"><span class="tooltip-label">red</span></li>
                                    <li class="swatch small rounded orange"><span class="tooltip-label">orange</span>
                                    </li>
                                    <li class="swatch small rounded yellow"><span class="tooltip-label">yellow</span>
                                    </li>
                                </ul>
                                <!--End Variant-->
                            </div>
                            <!--End Product Details-->
                        </div>
                        <div class="item col-lg-3 col-md-4 col-6">
                            <!--Start Product Image-->
                            <div class="product-image">
                                <!--Start Product Image-->
                                <a href="https://template.annimexweb.com/optimal/product-outofstock.html"
                                   class="product-img">
                                    <!--Image-->
                                    <img class="primary blur-up lazyload"
                                         data-src="{% static 'images/products/product-23.jpg' %}"
                                         src="{% static 'images/products/product-23.jpg' %}" alt="image" title="">
                                    <!--End image-->
                                    <!--Hover image-->
                                    <img class="hover blur-up lazyload"
                                         data-src="{% static 'images/products/product-23-1.jpg' %}"
                                         src="{% static 'images/products/product-23-1.jpg' %}" alt="image" title="">
                                    <!--End hover image-->
                                </a>
                                <!--End Product Image-->

                                <!--Product Button-->
                                <div class="button-set style2 d-none d-md-block">
                                    <ul>
                                        <!--Cart Button-->
                                        <li><a class="btn-icon btn cartIcon pro-addtocart-popup rounded-pill"
                                               href="#pro-addtocart-popup"><i class="icon an an-cart-l"></i> <span
                                                class="tooltip-label top">Add to Cart</span></a></li>
                                        <!--End Cart Button-->
                                        <!--Quick View Button-->
                                        <li><a class="btn-icon quick-view-popup quick-view rounded-pill"
                                               href="javascript:void(0)" data-toggle="modal"
                                               data-target="#content_quickview"><i class="icon an an-search-l"></i>
                                            <span class="tooltip-label top">Quick View</span></a></li>
                                        <!--End Quick View Button-->
                                        <!--Wishlist Button-->
                                        <li><a class="btn-icon wishlist add-to-wishlist rounded-pill"
                                               href="https://template.annimexweb.com/optimal/my-wishlist.html"><i
                                                class="icon an an-heart-l"></i> <span class="tooltip-label top">Add To Wishlist</span></a>
                                        </li>
                                        <!--End Wishlist Button-->
                                        <!--Compare Button-->
                                        <li><a class="btn-icon compare add-to-compare rounded-pill"
                                               href="https://template.annimexweb.com/optimal/compare-style2.html"><i
                                                class="icon an an-sync-ar"></i> <span class="tooltip-label top">Add to Compare</span></a>
                                        </li>
                                        <!--End Compare Button-->
                                    </ul>
                                </div>
                                <!--End Product Button-->
                            </div>
                            <!--End Product Image-->
                            <!--Start Product Details-->
                            <div class="product-details text-start">
                                <!--Product Name-->
                                <div class="product-name text-uppercase">
                                    <a href="https://template.annimexweb.com/optimal/product-outofstock.html">Рубашка</a>
                                </div>
                                <!--End Product Name-->
                                <!--Product Price-->
                                <div class="product-price">
                                    <span class="price">500 РУБ.</span>
                                </div>
                                <!--End Product Price-->
                                <!--Product Review-->
                                <!--End Product Review-->
                                <!--Color Variant-->
                                <ul class="swatches">
                                    <li class="swatch small rounded black"><span class="tooltip-label">black</span></li>
                                    <li class="swatch small rounded navy"><span class="tooltip-label">navy</span></li>
                                    <li class="swatch small rounded darkgreen"><span
                                            class="tooltip-label">darkgreen</span></li>
                                </ul>
                                <!--End Variant-->
                            </div>
                            <!--End Product Details-->

                        </div>
                    </div>
        </section>
        <!--End New Arrivals Product-->


        <!--Instagram Section-->
        <div class="section home-instagram">
            <div class="container">
                <div class="section-header">
                    <h2 class="text-transform-none">Инстаграмм или тг или лучше вообще удалить</h2>
                    <p class="fw-600">Текст</p>
                </div>

                <!--Instagram Grid-->
                <div class="instagram-grid instagram-grid-style2 clearfix">
                    <ul class="instagram-slider-style2 clearfix">
                        <li class="instagram-item">
                            <a href="#;">
                                <img src="{% static 'images/instagram/ins-10.jpg' %}"
                                     data-src="{% static 'images/instagram/ins-10.jpg' %}" alt="image" title=""
                                     class="blur-up lazyload"/>
                                <span class="ins-icon"><i class="icon an an-instagram"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--End Instagram Grid-->
                <div class="row d-none">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-sm-4 text-center">
                        <a href="#;" class="btn btn-primary text-transform-none">View Gallery</a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Instagram Section-->
    </div>
    <!--End Body Container-->
{% endblock %}
