{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <!--Body Container-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="breadcrumbs-wrapper text-uppercase">
            <div class="container">
                <div class="breadcrumbs"><a href="{% url 'store:index_page' %}">Главная</a><span>|</span><span
                        class="fw-bold">Оформление заказа</span></div>
            </div>
        </div>
        <!--End Collection Banner-->

        <!--Main Content-->
        <div class="container">
            <div class="row billing-fields">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mb-lg-0">
                    <div class="create-ac-content">
                        <form action="{% url 'orders:order_create' %}" method="POST">
                            {% csrf_token %}

                            <h2 class="login-title mb-3">Адрес доставки</h2>
                            <div class="row">
                                {% if messages or form.non_field_errors %}
                                    <div id="errors">
                                        <div class="errors1">
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {{ message }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ form.non_field_errors }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% for field in form %}
                                    {{ field.errors }}
                                {% endfor %}
                                <div class="form-group col-md-12 col-lg-12">
                                    <label >Ваше ФИО <span class="required-f">*</span></label>
                                    {{ form.fio }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-6">
                                    <label >Номер телефона <span
                                            class="required-f">*</span></label>
                                    {{ form.telephone }}
                                </div>
                                <div class="form-group col-md-6 col-lg-6">
                                    <label >Город <span class="required-f">*</span></label>
                                    {{ form.city }}
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12">
                                    <label >Адрес <span class="required-f">*</span></label>
                                    {{ form.address }}
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12 col-xl-12 mb-0">
                                    <label >Комментарии к заказу <span
                                            class="required-f"></span></label>
                                    {{ form.order_notes }}
                                </div>
                            </div>

                            <div class="order-button-payment mt-3 clearfix">

                                <input type="submit" class="fs-6 btn btn-lg rounded w-100 fw-600 text-white"
                                       value="Заказать">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="your-order-payment">
                        <div class="your-order">
                            <h2 class="order-title mb-3">Ваш заказ</h2>
                            <div class="table-responsive order-table style2">
                                <table class="bg-white table table-bordered align-middle table-hover text-center mb-1">

                                    <thead>
                                    <tr>
                                        <th class="text-start">Товар</th>
                                        <th>Цена</th>
                                        <th>Размер</th>
                                        <th>Количество</th>
                                        <th>Промежуточный итог</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for basket in baskets %}
                                        <tr>
                                            <td class="text-start">
                                                <a href="{% url 'store:product' basket.product.slug %}">{{ basket.product.name }}</a>
                                            </td>
                                            <td>{{ basket.product.price }} руб.</td>
                                            <td>{{ basket.size }}</td>
                                            <td>{{ basket.quantity }}</td>
                                            <td>{{ basket.sum }} руб.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot class="font-weight-600">
                                    <tr>
                                        <td colspan="4" class="text-end fw-bolder">Всего</td>
                                        <td class="fw-bolder">{{ baskets.total_sum_with_delivery }} руб.</td>
                                    </tr>
                                    </tfoot>


                                    <div class="table-responsive order-table style2">
                                        <table class="bg-white table table-bordered table-hover mb-1">
                                            <thead>
                                            <tr>

                                                <th style="text-transform:none">

                                                    Доставка осуществляется транспортной компанией
                                                    <a href="https://www.cdek.ru/ru" target="_blank"> <img
                                                            src="{% static 'images/cdek_logo.jpg' %}"
                                                            alt="none" class="cdek_logo"
                                                    > </a> Оплата в момент получения товара. Рассчитать стоймость можно
                                                    ниже:
                                                </th>
                                            </tr>
                                            <tr>

                                                <th >
                                                    <p style="text-transform: none">Выберете город куда нужно доставить товар:</p>
                                                    <form method=""  action="javascript:void(0)">
                                                        <select name="city" style="margin-bottom: 10px" id="city_choice">
                                                            {% for city in cities %}
                                                                {% if city ==  main_city %}
                                                                    <option value="{{ city }}"
                                                                            selected>{{ city }}</option>
                                                                {% else %}
                                                                    <option value="{{ city }}">{{ city }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <p class="" style="margin-top: 10px" id="deliv_info">
                                                            {% if delivery_info.price %}
                                                                Ориентировочная цена для {{ delivery_info.name }}: {{ delivery_info.price }} рублей. Срок
                                                                доставки:
                                                                от {{ delivery_info.period_min }} до
                                                                {{ delivery_info.period_max }}
                                                                {% if delivery_info.period_max >= 5 %} Дня{% else %}
                                                                    Дней{% endif %}
                                                            {% else %}
                                                                К сожалению мы не можем рассчитать доставку в этот населенный пункт.
                                                            {% endif %}
                                                        </p>
                                                        <div class="order-button-payment mt-3 clearfix">
                                                            <button type="submit"
                                                                   class="fs-6 btn btn-lg rounded w-100 fw-600 text-white"
                                                                   value="Рассчитать"
                                                                    style="margin-bottom: 10px"
                                                                    id="city_bot">
                                                                Рассчитать
                                                            </button>

                                                        </div>
                                                    </form>


                                                </th>
                                            </tr>
                                            </thead>

                                        </table>

                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}