{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <!--Body Container-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"></div>
                <div class="collection-hero__title-wrapper container">
                    <h1 class="collection-hero__title">Восстановить пароль</h1>
                    <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'store:index_page' %}"
                                                                            title="Back to the home page">Главная</a><span>|</span><span
                            class="fw-bold">Восстановить пароль</span></div>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->

        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="row">
                <div class="box col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <form method="post" action="{% url 'users:password_reset' %}" accept-charset="UTF-8"
                          class="customer-form mt-2 mt-lg-5">
                        <h3 class="h4 text-uppercase mb-2">Сбросить пароль</h3>

                        <p>Пожалуйста введите адрес вашей электронной почты. Вы получите ссылку для сброса пароля.</p>
                        <div class="row">
                            {% if  msg %}
                                <div id="errors">
                                    <div class="errors1">
                                        <h5> {{ msg }}</h5>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="CustomerEmail" class="d-none">Email Address <span
                                            class="required">*</span></label>
                                    {% csrf_token %}
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="d-flex-center">
                                    <input type="submit" class="btn rounded me-auto" value="Сбросить пароль">
                                    <a href="{% url 'users:login' %}"><i
                                            class="align-middle icon an an-an-double-left me-2"></i>Назад на страницу входа</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->

{% endblock %}
