{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <!--Body Container-->
    <div id="page-content">
        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"></div>
                <div class="collection-hero__title-wrapper container">
                    <h1 class="collection-hero__title">Сменить пароль</h1>
                    <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'store:index_page' %}"
                                                                            title="Back to the home page">Главная</a><span>|</span><span
                            class="fw-bold">Сменить пароль</span></div>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->

        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="row">
                <div class="box col-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 my-2 my-lg-5">
                    <form method="post" accept-charset="UTF-8" class="customer-form">
                    {% csrf_token %}
                        <h3 class="h4 text-uppercase mb-2">Сменить пароль</h3>
                        <p>Пожалуйста, введите новый пароль дважды.</p>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">

                                    {{ form.new_password1 }}

                                </div>
                            {% if  form.new_password1.errors %}
                                        <div id="errors">
                                            <div class="errors1">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                <div class="form-group">

                                    {{ form.new_password2 }}

                                </div>
                            {% if  form.new_password2.errors %}
                                        <div id="errors">
                                            <div class="errors1">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        </div>
                                    {% endif %}

                            </div>
                        </div>
                        <div class="row">
                            <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="d-flex-center">
                                    <input type="submit" class="btn rounded me-auto" value="Сменить пароль">
                                    <a href="{% url 'users:login' %}"><i
                                            class="align-middle icon an an-an-double-left me-2"></i>Назад на страницу входа</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->

{% endblock %}
